* {
    box-sizing: border-box;
}
.row {
    height: 60vh !important;
}
.emoji {
    font-size: 2.5rem;
}
.emoji-heading {
    color: firebrick;
    font-size: 2.4rem;
}
.emoji-description {
    color: tomato;
    font-size: 1.4rem;
}
.text-pink {
    color: #ff0066;
}